<!DOCTYPE html>
<html>
<head>
  <title>Book Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background: linear-gradient(to bottom right, #a5ee9e, #66baf1);
    }
  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/books">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/books">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/-/new">Add Book</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1 class="mt-4">Book Details</h1>
    <% if (book) { %>
      <h2 class="mt-4"><%= book.title %></h2>
      <p>Author: <%= book.author %></p>
      <p>Description: <%= book.description %></p>
      <p>Publication Date: <%= book.publicationDate %></p>
      <p>Page Count: <%= book.pageCount %></p>
      <a href="/books/<%= book._id %>/edit" class="btn btn-primary">Edit</a>
      <a href="/books/<%= book._id %>/delete" class="btn btn-danger">Delete</a>
      <a href="/books/<%= book.file %>/download" class="btn btn-primary">Download File</a>

    <% } else { %>
      <p>Book not found.</p>
    <% } %>
  </div>
</body>
</html>
