<!DOCTYPE html>
<html>
<head>
  <title>Edit Book</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background: linear-gradient(to bottom right, #a5ee9e, #66baf1);
    }
  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/books">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/books">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/-/new">Add Book</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1 class="mt-4">Edit Book</h1>
    <% if (book) { %>
      <form action="/books/<%= book._id %>?_method=PUT" method="POST" class="mt-4">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" class="form-control" value="<%= book.title %>" required>
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" name="author" id="author" class="form-control" value="<%= book.author %>" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea name="description" id="description" rows="4" cols="30" class="form-control"><%= book.description %></textarea>
        </div>
        <div class="form-group">
          <label for="publicationDate">Publication Date:</label>
          <input type="date" name="publicationDate" id="publicationDate" class="form-control" value="<%= book.publicationDate %>">
        </div>

        <div class="form-group">
          <label for="pageCount">Page Count:</label>
          <input type="number" name="pageCount" id="pageCount" min="1" class="form-control" value="<%= book.pageCount %>">
        </div>

        <!-- 
          File upload
          
          <div class="form-group">
          <label for="image">Image URL:</label>
          <input 
                type="text" 
                value="https://user-images.githubusercontent.com/33935506/33653545-0f6d5828-da76-11e7-8a3c-a72bc732ad4f.PNG"
                name="image" 
                id="image" 
                class="form-control">
        </div>

        <div class="form-group">
          <label for="file">File:</label>
          <input type="file" name="file" id="file" class="form-control">
        </div> 
      -->

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    <% } else { %>
      <p>Book not found.</p>
    <% } %>
  </div>
</body>
</html>
